@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #f7ede2;
}

li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #f7ede2;
	text-decoration: none;
}

header {
	background-color: #293241;
	margin-top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: right;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	margin: right;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
	color:#3ab795;
}

