/* Style pour le header et le footer */

/* ------------------ HEADER ------------------ */


@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Montserrat & display = swap');


body {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #f4f9f9;
} 

.nav_links li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #f4f9f9;
	text-decoration: none;
}

header {
	background-color: #293241;
	margin-top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: right;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	margin: right;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
	color:#00509d;
}


/* ------------------ FOOTER ------------------ */

.pied {
	bottom: 0;
	padding-bottom: 10px;
	background-color: #293241;
}

.para_footer {
	padding-top: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #f4f9f9;
	text-align: center;
	text-decoration: none;
}


/* -------------------- Pour les boutons médias facebook etc ----------------- */

/*
.media-container {
    display: flex;
    padding-left: 240px;
    margin: 20px 0 40px 0;
}

.medias-btn {
    width: 50px;
    height: 50px;
    border-radius: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.icones {
    width: 25px;
}       
*/
