/* Style pour le header et le footer */

/* ------------------ HEADER ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Montserrat & display = swap');

/* ---------------- Page Acceuil - Navbarre - logo ------------------ */

.img_logo{
	width: auto;
	height: 50px;
	padding-top: 10px;
	padding-left: 20px;
}

/* -------------------------------------- NAVBAR ------------------------------------ */


.bo {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #f4f9f9;
} 

header {
	display: flex;
	width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 4;
	background-color: #293241;
}

.logo {
	cursor: pointer;
	margin: right;
}

.nav__links {
	top: 0;
	list-style: none;
	padding-top: 10px;
}

.nav_links li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #f4f9f9;
	text-decoration: none;
	transition: all 0.3 ease 0s;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a:hover{
	color:#4cc9f0;
}


/* -------------------------------------- FOOTER --------------------------------------- */

.pied {
	bottom: 0;
	background-color: #293241;
	position: absolute;
	width: 100%;
}

.pied1 {
	bottom: 0;
	background-color: #293241;
	position: absolute;
	width: 100%;
}

.pied2 {
	bottom: 0;
	background-color: #293241;
	padding-bottom: 10px ;
}

.para_footer {
	padding-top: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #f4f9f9;
	text-align: center;
	text-decoration: none;
}

/* :root {
	--color-blue:#4cc9f0;
} */