
.tout {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.cote_gauche {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cote_droit {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.btn_r {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #293241;
    margin: 10px 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}

.btn_r:hover {
    color: black;
    background-color: #4cc9f0;
    
}

.image_r {
    width: 500px;
    height: auto;
    margin-top: 40px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.image_r2 {
    width: 600px;
    height: auto;
    margin-top: 40px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.video_r {
    width: 600px;
    height: auto;
    margin-top: 40px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.aud {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;    
}

.photo_plus {
    margin-top: 10px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image_plus {
    margin: 0 20px;
    width: 250px;
    height: 150px;
}

.image_plus1 {
    margin: 10px 20px;
    width: 250px;
    height: 160px;
}


.titre_r{
    color: #293241;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Alice', sans-serif;
}


.para_r {
    text-align: left;
    color: #293241;
    text-decoration: none;
    font-size: 20px;
    font-family: "Bebas Neue";
    text-align: center;
}

